@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Specificity for the sidebar container */
    #sidebar-container {
        transition: transform 0.3s ease-in-out;
    }

    /* Styling for the active link in the sidebar */
    #sidebar-container a.active {
        @apply bg-indigo-500 text-white font-bold;
    }

    /* Styling for the collapsible button icon */
    .collapsible svg {
        transition: transform 0.2s ease;
    }

    .collapsible .rotate-180 {
        transform: rotate(180deg);
    }
}
